<app-breadcrumbs></app-breadcrumbs>
<!-- <ol class="breadcrumb">
  <li><a routerLink="/regions">Regions</a></li>
  <li class="active">{{ region.name }}</li>
</ol> -->
<p>ID = {{ region._id }}</p>
  
    <!-- <ol>
    <li *ngFor="let region of regions">
      <a [routerLink]="[region._id]">{{ region.name }}</a>
    </li>
  </ol> -->
  <!-- <dl class="list">
    <dt>ISBN</dt>
    <dd>{{ region.isbn }}</dd>
    <dt>Author</dt>
    <dd>{{ region.author }}</dd>
    <dt>Publish Year</dt>
    <dd>{{ region.published_year }}</dd>
    <dt>Publisher</dt>
    <dd>{{ region.publisher }}</dd>
    <dt>Update Date</dt>
    <dd>{{ region.updated_date | date:'short' }}</dd>
  </dl>
  <div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/region-edit', region._id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteBook(region._id)">DELETE</button>
  </div>
</div> -->
